.aaa {
	background-image:url(slice/btn_share.png);
	_background-image:url(slice/btn_share.png);
	+background-image:url(slice/btn_share.png);
	*background-image:url(slice/btn_share.png)
}
.jjjjjjjj {background:rbga(0,0,0,0.5)}
.c {
	background: #fff url(slice/black_btn_play.png) no-repeat center center;
	_background: #fff url(slice/black_btn_play.png) no-repeat center center;
	width: 100px;
	height: 200px;
}
.c {
	background-image:url(slice/childslice/black_btn_play.png);
	width: 100px;
	height: 200px;
}
.c {background-image:url(slice/childslice/black_btn_play.png);_background-image:url(slice/childslice/black_btn_play.png);}
.bbc {background-image:url(slice/2x/black_btn_play.png);background-size:cover}
.bbcd {background-image:url(slice/2x/child/black_btn_play.png);background-size:cover;}
.sddd {hieght:100px;}
.adaa {background:url(base64/musical_note.png);}
.ddd {height: 100px;background: url(base64/rank_trend.png) no-repeat center top;}
.ddd {height: 100px;background: url(base64/rank_trend.png) no-repeat center top;}
.cccc {background: url(base64/play_bar_arrow.png) no-repeat center top;}
.cccc {background: url(base64/play_bar_arrow.png) no-repeat center top;}
.cccc {background: url(base64/play_bar_arrow.png) no-repeat center top;}
.cccc {background: url(base64/play_bar_arrow.png) no-repeat center top;}
.adasssssssssa {background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAABCBAMAAAD9D3jNAAAAA3NCSVQICAjb4U/gAAAAMFBMVEX///8xwnwxwnwxwnwxwnwxwnwxwnwxwnwxwnwxwnwxwnwxwnwxwnwxwnwxwnwxwnwINFRAAAAAEHRSTlMAESIzRFVmd4iZqrvM3e7/dpUBFQAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAG0SURBVEiJ7dW/L4NBGAfwe5tGq1RLEwxILSx+Lqy1mITEX0CYSLQ6o4nBQILNQKITk9jEIsQipjYWieUiJAZNXkIqpG+/3nvv7fsevSMxSp/lrvfpe3fPvU+vhMhDG97Rc8sqHFijYLEpxVWOZrwrn8TjSn/kELEv2rFtY25riH0OIC3yCEdjf9we8CIrcDXD4vFU2Bnx4EnwXeByOkzEEN2L4vz37YoewF1ZrqLXIfGjhxD9xcu44hX/n67NUuMorHRtif2WH5TexW+Cc4V7dFxEIwswFN6KPGvmoPANfi95Fa7ped6Jy92HM96p5d54gptJwWtKN4XP8iad3VsJ14Pos/Ng7slYuRZ6HQ+hdIsx70EhqQ1mQOWuUUyYvSpzEcn8WeLHq9Ufg2x/adJmPW5OgPL8gqalCvZoRnI+xTA5fbNHU8L5FmOs8eqm0Rd70M2PtPD3E2fr4NnJynEPxXV7wyKMqNyd+iDi/Ibr2jqvLzPc/X0Q4Qsz1NizTtHJj+aJLNzzuZW6H/dWOyr5e7BWyvD3g4KUCemGkazvpLhSeKk+ogonzby+VGzW5wGrz7/FJze+Y0DFCp63AAAAAElFTkSuQmCC);}